@import '../../products/product-form/product-form.scss';

.client-admin-form {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.form-control[readonly] {
  background: #f7fafc;
  cursor: default;
}

.field-hint {
  color: #718096;
  font-size: 13px;
  margin: 4px 0 0;
}
